{{ define "main" }}
  {{ partial "page-header" . }}


  <section class="section">
    <div class="container">
      <div class="row gx-5">
        <!-- blog posts -->
        {{ $hasWidgets := site.Params.widgets.sidebar }}
        <div class="{{ if $hasWidgets }}lg:col-8{{ else }}lg:col-12{{ end }}">
          <div class="row">
            {{ $paginator := .Paginate .RegularPages }}
            {{ range $paginator.Pages }}
              <div class="md:col-6 mb-14">
                {{ partial "components/blog-card" . }}
              </div>
            {{ end }}
          </div>
          {{ partial "components/pagination.html" . }}
        </div>

        <!-- sidebar -->
        {{ if $hasWidgets }}
          <div class="lg:col-4">
            {{ partialCached "widgets/widget-wrapper" (dict "Widgets" $hasWidgets "Scope" .) }}
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
